<header class="top">
  <div class="wrap">
    <a class="brand" href="{{ backHref }}">AVANTE <span>TRAVEL</span></a>
    <a class="back-link" href="{{ backHref }}">{{ backLabel | safe }}</a>
  </div>
</header>